<div id="content" class="site-content">
	<div id="primary" class="content-area">
		<main id="main" class="wrap site-main">
			<article id="post-61" class="post-61 page type-page status-publish hentry">
				<header class="entry-header">
					<h1 class="entry-title">個人情報のお取り扱いについて</h1>
				</header>
				<!-- .entry-header -->
				<div class="entry-content">
					<p>
						スペースファクトリー（Space Factory）（以下、スペースファクトリー）は、個人情報保護をスペースファクトリーの重要な責務と認識し、お客様（会員、会員登録の申込者、下記本サイトの閲覧者をいいます）の個人情報を取得、利用、第三者に委託または提供させていただきます。「スペース ファクトリーインターネットサイト」（以下、当サイト）を利用するお客様の個人情報は弊社が定める個人情報の取り扱い規定に則り、その収集や取り扱いには細心の注意を払います。
					</p>
					<h3>個人情報について</h3>
					<p>当サイトにおいて「個人情報」とは、氏名、住所、電話番号、メールアドレス、銀行口座番号などお客様を個人、又は法人として識別できる情報、およびお客様がご利用になったサービスの内容、ご利用日時、ご利用回数などのご利用内容・ご利用の履歴に関する情報をいいます。</p>
					<h3>個人情報の利用目的</h3>
					<p>スペースファクトリーでは、お客様情報を収集する際にお客様にお知らせした利用目的、または以下の目的のために、お客様情報を利用させていただきます。</p>
					<p>
						これらの目的以外には、 下記「お客さま情報の第三者への委託、提供について」に記載する場合または事前にお客様に同意をいただいた場合を除き、利用することはございません。
					</p>
					<p class="indm">
						1.	お客様に当サイトのサービスをご利用頂くに際して
					</p>
					<p class="indm">
						2.	お客様からのお問い合わせやリクエストに対してのご回答
					</p>
					<p class="indm">
						3.	お客様がご希望する情報の提供時
					</p>
					<p class="indm">
						4.	お客様からのご相談、ご要望に応じるため
					</p>
					<p class="indm">
						5.	ご利用状況を把握し、サービスの改善や新サービスの開発に於いて
					</p>
					<p class="indm">
						6.	各種会員向けサービス、その他各種サービスの配信やご案内をご提供する為
					</p>
					<p class="indm">
						7.	スペース関連情報のご案内またはアンケートのお願いをするため。
					</p>
					<p class="indm">
						8.	本サイトの内容改善や統計情報などに用いるため。
					</p>
					<p class="indm">
						9.	本サイト運営上のトラブルの解決の為
					</p>
					<p class="indm">
						10.	その他、何らかの理由でお客様に連絡する必要が生じたときの為
					</p>
					<h3>個人情報の共同利用</h3>
					<p>
						スペースファクトリーが保有するお客様の個人情報のうち、当サイトのサービスを実施する上で必要な範囲においてスペースオーナー様、弊社のパートナーシップ代理店や提携先加盟店との間で、利用させていただきます。
					</p>
					<h3>個人情報の第三者への委託、提供について</h3>
					<p>
						スペースファクトリーは、以下に定める場合を除き、お客様の個人情報を第三者に委託、提供する事は御座いません
					</p>
					<p class="indm">
						1.	お客様の同意がある場合
					</p>
					<p class="indm">
						2.	法令等により司法および行政機関に要請された場合
					</p>
					<p class="indm">
						3.	サービス提供のため、スペースファクトリーが信頼に足ると判断し個人情報の守秘義務契約を結んだ企業と協力関係・提携関係を結ぶ場合があり、この場合、弊社の厳正な管理下のもと、サービス提供に必要な最小限の範囲で、当該協力会社・提携先企業にお客様情報を委託、提供させていただくことがございます。
					</p>
					<h3>クッキーの利用について</h3>
					<p>スペースファクトリー事務局では、当サイトのコンテンツの提供を管理・維持、新サービスを開発したり、ログイン情報管理や広告配信のために端末情報をクッキーにて利用しております。お客様がクッキーの受入を拒否する場合、当サイトの一部が利用できないことがあります。 「クッキー」に記録される情報にはお客様の氏名、メールアドレス、電話番号、住所など個人を特定するものは一切含まれません。</p>
					<h3>個人情報の取り扱いに関する変更</h3>
					<p>
						スペースファクトリー事務局は、個人情報の取り扱いに関する規定の全部または一部を改定することがあります。重要な変更がある場合には、当サイト上で事前に告知いたします
					</p>
					<h3>お客様の個人情報についてのお問合せ</h3>
					<p>お客様からお客様ご本人の個人情報についての開示・訂正・利用停止等のご依頼や、その他苦情・相談等のお申し出があった場合にはすみやかに対応いたします。お申し出は、下記のよりご連絡頂けますようお願い申し上げます。</p>
					<h3>スペースファクトリー事務局</h3>
					<p><a href="tomail:info@spafac.com">info@spafac.com</a>
					<p>スペースファクトリーでは、特定の対応以外についてはお電話でのご質問等はお受け致しかねます。つきましてはヘルプページ並びに上記メールアドレスより、送信頂きますようお願い申し上げます。</p>
					<p>出来るだけ迅速なご対応を行いますが、お問い合わせの内容によって、お時間を頂戴する場合がございます。<br>
						予めご了承くださいますようお願い申し上げます
					</p>
					<p>土日祝を除く平日10:00から18:00まで。<br>
						年末年始等のお知らせは別途当サイトにて告知致します。
					</p>
				</div>
				<!-- .entry-content -->
			</article>
			<!-- #post-61 -->
		</main>
		<!-- #main -->
	</div>
	<!-- #primary -->
</div>