<div class="party_search_list attention_area">
    <h2>注目のエリア</h2>
        <ul>
            <li><a href="/search"><span><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/umeda.png"></span><br>梅田</a></li>
            <li><a href="/search"><span><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/shinsaibashi.png"></span><br>心斎橋</a></li>
            <li><a href="/search"><span><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/nanba.png"></span><br>なんば</a></li>
            <li><a href="/search"><span><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/kitahama.png"></span><br>北浜</a></li>
            <li><a href="/search"><span><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/yodoyabashi.png"></span><br>淀屋橋</a></li>
            <li><a href="/search"><span><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/honcho.png"></span><br>本町</a></li>
            <li><a href="/search"><span><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/minamihunaba.png"></span><br>南船場</a></li>
            <li><a href="/search"><span><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/shinmachi.png"></span><br>新町</a></li>
            <li><a href="/search"><span><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/kitahorie.png"></span><br>北堀江</a></li>   
            <li><a href="/search"><span><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/minamihorie.png"></span><br>南堀江</a></li>
            <li><a href="/search"><span><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/tannoji.png"></span><br>天王寺</a></li>
            <li><a href="/search"><span><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/abeno.png"></span><br>阿倍野</a></li>
            <li><a href="/search"><span><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/kamihoncho.png"></span><br>上本町</a></li>
            <li><a href="/search"><span><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/kyoto.png"></span><br>京都</a></li>
            <li><a href="/search"><span><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/motomachi.png"></span><br>三宮・元町</a></li>
            <li><a href="/search"><span><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/kobe.png"></span><br>神戸・ハーバーランド</a></li>
            <li><a href="/search"><span><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/amagasaki.png"></span><br>尼崎</a></li>
            <li><a href="/search"><span><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/nishinomiya.png"></span><br>西宮</a></li>   
            <li><a href="/search"><span><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/ashiya.png"></span><br>芦屋</a></li>   
            <li><a href="/search"><span><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/akashi.png"></span><br>明石</a></li>   
            <li><a href="/search"><span><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/awajishima.png"></span><br>淡路島</a></li>   
        </ul>
</div>