<section id="reg_now_3">
	<div class="reg_now_3_title">
		<h2>あなたもスペースオーナーになってみませんか</h2>
		<span>お持ちのスペースを今すぐ有効活用。あらゆるスペースが登録可能です</span>
	</div>
	<div class="reg_now_3_button"><a href="/users/sign_up">無料登録をしてすぐスペースオーナーになる</a></div>
</section>