<section id="reg_now_4">
	<div class="reg_now_4_title">
		<h2>スペファクプレミアムサービスパック</h2>
			<span>貸す人も借りる人も様々なビジネスシーンや「ワクワク ドキドキ」のあれやこれやをお手伝いできる、</br>
			提携パートナーとのスペファクプレミアムサービスパックを</br>会員登録（無料）を頂きました皆様へご用意致しております。思う存分有効活用してみてください！</span>
	</div>
	<div class="reg_now_4_button"><a href="/ https://magazine.spafac.com/2018/10/18/premiumpackage">詳しくはコチラ</a></div>
</section>