<div class="site-header__sponsoredmatch site-header__sponsoredmatch_type4" data-select-like-a-boss="1">
	<div class="site-header__sponsoredmatch-container">
		<div class="site-header__sponsoredmatch-description-box">
			<div class="site-header__sponsoredmatch-title-box">
			<h2 class="site-header__sponsoredmatch-title">[期間限定] 怖~い古民家を￥0レンタル</h2>
				<div class="site-header__sponsoredmatch-lead">池袋のガチ怖(こわ)古民家でハロウィンしよう！</div>
			</div>
				<div class="site-header__sponsoredmatch-button-box">
					<div class="site-header__sponsoredmatch-button-inner">
						<div class="site-header__sponsoredmatch-button-detail">
						<a href="https://www.spacemarket.com/campaigns/haunted?utm_source=top_banner&amp;utm_medium=referral&amp;utm_campaign=haunted">詳細へ</a>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>