<section class="gray pattern_1" id="event">
	<div class="pattern_title">
		<h2>イベントプロモーション・広告</h2>
	</div>
	<div class="pattern_box">
    <div class="pac">
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-5.png" alt=""></div><span class="star">★★★★★</span>
			<p>20人弱のパーティに使わせてもらいました。 まわりを気にせず楽しむ事ができ、キッチンスペースは大活躍で重宝しました。 スタッフの方</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-16.png" alt=""></div><span class="star">★★★★★</span>
			<p>オフサイトミーティングで利用させていただきました。とても使いやすいスタジオで、キッチンもあり駅やスーパーからも近く助かりました。</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-15.png" alt=""></div><span class="star">★★★★★</span>
			<p>とにかく綺麗で、設備が行き届いている上に、受付の方の対応も丁寧に対応していただき大変満足致しました、主催側からまた使いたいと言う</p>
		</div>
	</div>
	</div>
	<a class="detail" href="/purpose/event">イベントプロモーション・広告で利用できるスペースをもっと見る »</a>
</section>