<section class="white pattern_1" id="ex">
	<div class="pattern_title">
		<h2>催事・展示会</h2>
	</div>
	<div class="pattern_box">
    <div class="pac">
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-21.png" alt=""></div><span class="star">★★★★★</span>
			<p>快適に利用させて頂きました！全ての設備が料金に含まれているところも大変助かりました。とても素敵な会場でした！有難うございました。</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-18.png" alt=""></div><span class="star">★★★★★</span>
			<p>オーナーさんがいつも大変親切で気持ち良く利用させていただいています。 またすぐに利用したいと思いますので宜しくお願い致します。この</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-36.png" alt=""></div><span class="star">★★★★★</span>
			<p>急遽にて撮影場所を探していて、いつも使っているこのサイトで見つけました。家具が凝っていて、雰囲気のあるところで、気持ちよく撮影が</p>
		</div>
	</div>
	</div>
	<a class="detail" href="/purpose/exhibitionhall">催事・展示会で利用できるスペースをもっと見る »</a>
</section>