<section class="gray pattern_1" id="per">
	<div class="pattern_title">
		<h2>演奏</h2>
	</div>
	<div class="pattern_box">
    <div class="pac">
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-32.png" alt=""></div><span class="star">★★★★★</span>
			<p>10人ほどで飲み会に利用しました。キッチン設備が充実しており、また、トイレもキレイで、ピアノの演奏も行う事ができ充実したイベント</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-6.png" alt=""></div><span class="star">★★★★★</span>
			<p>2回目の利用です。ドリンクバーも付いており、設備も充実しておりコスパがとてもよかったです。ギターの練習にまた利用させて頂きます。</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-24.png" alt=""></div><span class="star">★★★★★</span>
			<p>充実した設備に加え、とても良いスタッフさんの対応、素晴らしかったです。思いっきり演奏をの練習ができてバンド仲間からも好評の場所</p>
		</div>
	</div>
	</div>
	<a class="detail" href="#">演奏で利用できるスペースをもっと見る »</a>
</section>