<section class="white pattern_1" id="lodging">
	<div class="pattern_title">
		<h2>宿泊・民泊</h2>
	</div>
	<div class="pattern_box">
    <div class="pac">
		<div class="pattern_boxs">
	    <a href="/stay_details">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-25.png" alt=""></div><span class="star">★★★★★</span>
			<p>到着が深夜になりましたが、カギの解錠・利用についての説明など対応いただき大変助かりました。またメッセージのやりとりもスムーズで</p>
		</a>
		</div>
		<div class="pattern_boxs">
	    <a href="/stay_details">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-23.png" alt=""></div><span class="star">★★★★★</span>
			<p>アウトドア仲間との旅行時に利用させていただきました。道から少しだけ下った場所に建っている為、緑に囲まれ落ち着いた空間に立地して</p>
		</a>
		</div>
		<div class="pattern_boxs">
	    <a href="/stay_details">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-38.png" alt=""></div><span class="star">★★★★★</span>
			<p>トイレ、シャワーは共用ですが、キッチンやプロジェクターもある共用部で会議や宴会もできプライベート旅行として楽しい時間を過ごさせ</p>
		</a>
		</div>
	</div>
	</div>
	<a class="detail" href="/stay">宿泊・民泊で利用できるスペースをもっと見る »</a>
</section>