<section class="white pattern_1" id="lodging">
	<div class="pattern_title">
		<h2>宿泊・民泊</h2>
	</div>
	<div class="pattern_box">
    <div class="pac">
		<div class="pattern_boxs">
	    <a href="/stay_details">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-25.png" alt=""></div><span class="star">★★★★★</span>
			<p>予約後すぐにわかりやすい説明も届き便利な場所で必要なものも揃っていてよかったです。部屋もキレイに清掃されてました。 床がオフィス</p>
		</a>
		</div>
		<div class="pattern_boxs">
	    <a href="/stay_details">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-23.png" alt=""></div><span class="star">★★★★★</span>
			<p>予約後すぐにわかりやすい説明も届き便利な場所で必要なものも揃っていてよかったです。部屋もキレイに清掃されてました。 床がオフィス</p>
		</a>
		</div>
		<div class="pattern_boxs">
	    <a href="/stay_details">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-38.png" alt=""></div><span class="star">★★★★★</span>
			<p>予約後すぐにわかりやすい説明も届き便利な場所で必要なものも揃っていてよかったです。部屋もキレイに清掃されてました。 床がオフィス</p>
		</a>
		</div>
	</div>
	</div>
	<a class="detail" href="#">宿泊・民泊で利用できるスペースをもっと見る »</a>
</section>