<section class="gray pattern_1" id="loce">
	<div class="pattern_title">
		<h2>ロケ撮影・写真・動画</h2>
	</div>
	<div class="pattern_box">
    <div class="pac">
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-43.png" alt=""></div><span class="star">★★★★★</span>
			<p>14人でインスタパーティをしました！ 1階と2階で丁度用途を分けて使う事ができ、とても落ち着いた雰囲気でよかったと思いますまた大阪</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-20.png" alt=""></div><span class="star">★★★★★</span>
			<p>撮影で利用するための下見として、一時間内覧させていただきました。事前に駅からの案内や利用の注意点もお伝えいただきとてもスムーズ</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-39.png" alt=""></div><span class="star">★★★★★</span>
			<p>事前のやり取りも丁寧にして下さったので安心してお貸し出来る良いゲスト様です!! また機会がありましたら是非宜しくお願いいたします</p>
		</div>
	</div>
	</div>
	<a class="detail" href="/purpose/location">ロケ撮影･写真･動画で利用できるスペースをもっと見る »</a>
</section>