<section class="white pattern_1" id="marry">
	<div class="pattern_title">
		<h2>結婚式・お祝いシーン</h2>
	</div>
	<div class="pattern_box">
    <div class="pac">
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-40.png" alt=""></div><span class="star">★★★★★</span>
			<p>使い勝手が良かったです。 前の時間の方々が、たちが予約していた時間になっても中で談笑しておりましたがスムーズに対応していただきま</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-7.png" alt=""></div><span class="star">★★★★★</span>
			<p>セミナー形式で、8人で、使わせていただきました。ホワイトボードを使ってセミナーを行うこともでき、スクリーンプロジェクターも利用で</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-11.png" alt=""></div><span class="star">★★★★★</span>
			<p>会場もキチンとされていて、会場の中も明るく使い勝手も良かったです。また利用させていただきたいと思おいます。この度は有難うございま</p>
		</div>
	</div>
	</div>
	<a class="detail" href="#">結婚式・お祝いシーンで利用できるスペースをもっと見る »</a>
</section>