<section class="gray pattern_1" id="parking">
	<div class="pattern_title">
		<h2>駐車場</h2>
	</div>
	<div class="pattern_box">
    <div class="pac">
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-45.png" alt=""></div><span class="star">★★★★★</span>
			<p>小さい子どもがいるので、基本的にどこに行くにも車で出かけます。電車でも行けることは行けますが、やはり子連れだと車が便利ですのでい</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-45.png" alt=""></div><span class="star">★★★★★</span>
			<p>両親が一緒なのでなるべく飲食店の近くの駐車場がいいと思って探しましたが連休でどこも満車でしたがこちらのサイトから空いている駐車場</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-45.png" alt=""></div><span class="star">★★★★★</span>
			<p>コインパーキングであれば大阪の中心部は1時間2000円くらいの料金がかかるところもありますがこちらの駐車場は１時間300円と大変リーズな</p>
		</div>
	</div>
	</div>
	<a class="detail" href="#">オフィスで利用できるスペースをもっと見る »</a>
</section>