<section class="white pattern_1" id="sports">
	<div class="pattern_title">
		<h2>スポーツ</h2>
	</div>
	<div class="pattern_box">
    <div class="pac">
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-37.png" alt=""></div><span class="star">★★★★★</span>
			<p>パーソナルジムなので、大きなジムのイメージとは異なりますが、おおきな鏡もあるので自身のボディチェックをしながら運動する事が出来</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-41.png" alt=""></div><span class="star">★★★★★</span>
			<p>とても綺麗なジムでした。器具も充実しており、また機会があれば利用させていただきたいと思います。連絡もスムーズに取ることが出来ま</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-19.png" alt=""></div><span class="star">★★★★★</span>
			<p>仲間同士での合同トレーニングに利用させていただきました。清潔感あり、設備も充実していて、久しぶりに気持ちのいい汗をかく事ができ</p>
		</div>
	</div>
	</div>
	<a class="detail" href="#">スポーツで利用できるスペースをもっと見る »</a>
</section>