<div class="search_button gray">
	<div class="search_width">
		<a class="big_button" href="../category/new.html">カテゴリーから探す</a><ul>
			<li><a href="../areas/new.html">エリアから探す</a></li>
			<li><a href="../capacities/new.html">収容人数から探す</a></li>
			<li><a href="../amenities/new.html">設備から探す</a></li>
			</ul>
	</div>
</div>

<div class="gray" id="search_box_2">
	<div class="wrap">
	<div class="category_box">
		<div class="category_box_menu">
				<div class="category_box_title">
					<h3>目的から探す</h3>
					<!--<p><span>件数 |</span><span>口コミ</span></p>-->
				</div>

				<div class="category_box_wrap">
					<div class="category_box_icon">
					<a href="/purpose/sales">
					<img src="/assets/top_session/cat-00.png" alt="">
					<div class="cat_text">
						<p>物販</p>
					</div>
					</a>
				</div>

				<div class="category_box_icon">
					<a href="/purpose/party">
					<img src="/assets/top_session/cat-1.png" alt="">
					<div class="cat_text">
						<p>飲食・パーティ</p><
					</div>
					</a>
				</div>

				<div class="category_box_icon">
					<a href="/purpose/exhibition">
					<img src="/assets/top_session/cat-2.png" alt="">
					<div class="cat_text">
						<p>催事・展示会</p>
					</div>
					</a>
				</div>

				<div class="category_box_icon">
					<a href="/purpose/event">
					<img src="/assets/top_session/cat-4.png" alt="">
					<div class="cat_text">
						<p>イベントプロモーション・広告</p>
					</div>
					</a>
				</div>

				<div class="category_box_icon">
					<a href="/purpose/meeting">
					<img src="/assets/top_session/cat-5.png" alt="">
					<div class="cat_text">
						<p>オフィス・会議</p>
					</div>
					</a>
				</div>

				<div class="category_box_icon">
					<a href="/stay">
					<img src="/assets/top_session/cat-6.png" alt="">
					<div class="cat_text">
						<p>宿泊・民泊</p>
					</div>
					</a>
				</div>

				<div class="category_box_icon">
					<a href="/purpose/wedding">
					<img src="/assets/top_session/cat-7.png" alt="">
					<div class="cat_text">
						<p>結婚式・お祝いシーン</p>
					</div>
					</a>
				</div>

				<div class="category_box_icon">
					<a href="/purpose/performance">
					<img src="/assets/top_session/at-80.png" alt="">
						<div class="cat_text">
							<p>演奏</p>
						</div>
					</a>
				</div>

				<div class="category_box_icon">
					<a href="/purpose/location">
					<img src="/assets/top_session/cat-8.png" alt="">
						<div class="cat_text">
							<p>ロケ撮影･写真･動画</p>
						</div>
					</a>
				</div>

				<div class="category_box_icon">
					<a href="/purpose/parking">
					<img src="/assets/top_session/cat-7_bk.png" alt="">
						<div class="cat_text">
							<p>駐車場</p>
						</div>
					</a>
				</div>

				<div class="category_box_icon">
					<a href="/purpose/sports">
					<img src="/assets/top_session/cat-10.png" alt="">
						<div class="cat_text">
							<p>スポーツ</p>
						</div>
					</a>
				</div>

				<div class="category_box_icon">
					<a href="/purpose/other">
					<img src="/assets/top_session/cat-9.png" alt="">
						<div class="cat_text">
							<p>その他</p>
						</div>
					</a>
				</div>
		</div>

		<div class="category_text clear" id="category_text">
			<div class="category_box_title">
				<h3>カテゴリーから探す</h3>
			</div>
			<div class="category_text_menu">
				<ul>
				<li><a href="/search">イベント</a></li>
				<li><a href="/search">結婚式場</a></li>
				<li><a href="/search">オフィス</a></li>
				<li><a href="/search">ホール</a></li>
				<li><a href="/search">貸し会議室</a></li>
				<li><a href="/search">スタジオ</a></li>
				<li><a href="/search">カフェ</a></li>
				<li><a href="/search">レストラン</a></li>
				<li><a href="/search">映画館</a></li>
				<li><a href="/search">ギャラリー</a></li>
				<li><a href="/search">バー</a></li>
				<li><a href="/search">スポーツ施設</a></li>
				<li><a href="/search">娯楽施設</a></li>
				<li><a href="/search">ホテル</a></li>
				<li><a href="/search">住宅</a></li>
				<li><a href="/search">倉庫</a></li>
				<li><a href="/search">ワイナリ・蔵</a></li>
				<li><a href="/search">百貨店</a></li>
				<li><a href="/search">オフィス街</a></li>
				<li><a href="/search">商店街アーケード</a></li>
				<li><a href="/search">ロードサイド</a></li>
				<li><a href="/search">駅近　ロータリー</a></li>
				<li><a href="/search">軒先き</a></li>
				<li><a href="/search">移動販売車設置</a></li>
				<li><a href="/search">駅地下</a></li>
				<li><a href="/search">一戸建て</a></li>
				<li><a href="/search">テラス</a></li>
				<li><a href="/search">看板</a></li>
				<li><a href="/search">掲示スペース</a></li>
				<li><a href="/search">駐車場</a></li>
				<li><a href="/search">その他</a></li>
				</ul>          
			</div>
		</div>
	</div>
	<div class="login_wrap">
		<div class="login_title"><img src="/assets/top_session/icon-02.png" alt=""><span>メンバーログイン</span></div>
			<div class="login_box">                
				<div class="login_form">                    
                    <form method="POST" action="　https://spafac-app.herokuapp.com/users/sign_in" accept-charset="UTF-8"><input name="_token" type="hidden" value="IfC3OAG0g5N3DJyOPRj9SIhjBX7xF23Im7TYuwwB">						<table>
						<tbody>
							<tr>
								<td>ユーザーID:</td>
								<td><input type="text" name="email" value=""></td>
							</tr>
							<tr>
								<td>パスワード:</td>
								<td><input type="password" name="password" value=""></td>
							</tr>
						</tbody>

						</table>
							<a class="forget" href="">ユーザーIDやパスワードをお忘れの場合はこちら &gt;</a>
							<div class="login_button">
								<button type="submit">ログイン</button>
							</div>
                    </form>   
					<div class="sns_login">
						<ul>
						<li class="fb"><a href=""><img src="/assets/icons/icon_fb.png"><span>Facebookでログイン</span></a></li>
						<li class="ya"><a href=""><img src="/assets/icons/icon_yahoo.png"><span>Yahoo!でログイン【準備中】</span></a></li>
						<li class="gg"><a href=""><img src="/assets/icons/icon_google.png"><span>Googleでログイン【準備中】</span></a></li>
						</ul>
						<p>ログイン以外の目的に使われることはありません。スペースファクトリーがゲストの同意なしに投稿することはありません。</p>
					</div>
					<div class="register">
						<p>無料登録してお今すぐ検索する</p>
						<a href="https://spafac-app.herokuapp.com/users/sign_up">新規登録</a>
					</div>
            	</div>
							
			</div>
		</div>
	</div>
	</div>
</div>