<section class="white" id="news">
	<h2>Topics &amp; News</h2>
		<ul class="news">
			<div class="case_study_wrap">
				<li>
					<span>2018.07.05</span>
					<a href="http://spafac.sa-m.net/wp/topics/18070501/">弁当工場でガス漏れか　従業員５人を病院に搬送</a>
				</li>
			</div>
		</ul>
			<div class="news_card">
				<ul>
					<li>
						<a href="http://spafac.sa-m.net/wp/news/%e3%83%af%e3%83%bc%e3%83%ab%e3%83%89%e3%82%ab%e3%83%83%e3%83%97%e6%97%a5%e6%9c%ac%e6%95%97%e9%80%80/">
						<div class="img">
							<img src="http://spafac.sa-m.net/wp/wp-content/uploads/2018/07/osakoyuya20180621-300x200-300x200.jpg" alt="">
						</div>
						</a>
						<div class="text">
							<span class="date">2018.07.19</span>
							<p class="bold">ワールドカップ日本敗退</p>
							<p>Ｗ杯が始まった。各国の戦いを興味深く見ているが、なかでも特別な思いで追って…</p>
							<a class="readmore" href="http://spafac.sa-m.net/wp/news/%e3%83%af%e3%83%bc%e3%83%ab%e3%83%89%e3%82%ab%e3%83%83%e3%83%97%e6%97%a5%e6%9c%ac%e6%95%97%e9%80%80/">続きを読む</a>
						</div>
					</li>
					<li>
						<a href="http://spafac.sa-m.net/wp/news/news02/">
							<div class="img">
								<img src="http://spafac.sa-m.net/wp/wp-content/uploads/2018/07/osakoyuya20180621-300x200-300x200.jpg" alt="">
							</div>
						</a>
							<div class="text">
								<span class="date">2018.07.19</span>
								<p class="bold">ワールドカップおわる</p>
								<p>Ｗ杯が始まった。各国の戦いを興味深く見ているが、なかでも特別な思いで追って…</p>
								<a class="readmore" href="http://spafac.sa-m.net/wp/news/news02/">続きを読む</a>
							</div>
					</li>
					<li>
						<a href="http://spafac.sa-m.net/wp/news/18070501/">
							<div class="img">
								<img src="http://spafac.sa-m.net/wp/wp-content/uploads/2018/07/osakoyuya20180621-300x200-300x200.jpg" alt="">
							</div>
						</a>
						<div class="text">
							<span class="date">2018.07.05</span>
							<p class="bold">オシムが語るコロンビア戦。</p>
							<p>Ｗ杯が始まった。各国の戦いを興味深く見ているが、なかでも特別な思いで追って…</p>
							<a class="readmore" href="http://spafac.sa-m.net/wp/news/18070501/">続きを読む</a>
						</div>
					</li>
				</ul>	
			</div>
	<div class="wrap txtR">
		<a class="archive_link" href="http://spafac.sa-m.net/wp/news/">News一覧を見る »</a>
	</div>
</section>