<section class="white" id="news">
	<h2>Topics &amp; News</h2>
		<ul class="news">
			<div class="case_study_wrap">
				<li>
					<span>2018.07.05</span>
					<a href="http://spafac.sa-m.net/wp/topics/18070501/">弁当工場でガス漏れか　従業員５人を病院に搬送</a>
				</li>
			</div>
		</ul>
			<div class="news_card">
				<ul>
					<li>
						<a href="http://spafac.sa-m.net/wp/news/%e3%83%af%e3%83%bc%e3%83%ab%e3%83%89%e3%82%ab%e3%83%83%e3%83%97%e6%97%a5%e6%9c%ac%e6%95%97%e9%80%80/">
						<div class="img">
							<img src="/app/assets/images/developimage/25e9beb6-9600-11e8-aecb-06326e701dd4-300x200-300x200.png/" alt="">
						</div>
						</a>
						<div class="text">
							<span class="date">2018.10.11</span>
							<p class="bold">大阪市観光局の会へ参加致しました</p>
							<p>地域の活性化させることを目標としているならば、若い世代がカギとなることはいうま…</p>
							<a class="readmore" href="https://magazine.spafac.com/2018/09/15/大阪市観光局の会へ参加致しました/">続きを読む</a>
						</div>
					</li>
					<li>
						<a href="http://spafac.sa-m.net/wp/news/news02/">
							<div class="img">
								<img src="/app/assets/images/developimage/294AC189-870D-4A01-9EE1-F8908F0E881B-300x200-300x200.jpeg" alt="">
							</div>
						</a>
							<div class="text">
								<span class="date">2018.10.04</span>
								<p class="bold">2025年万博誘致プロジェクト</p>
								<p>2018年7月1日（日）に行われた、大阪万博誘致プロジェクト「ダイヤラッシュフ…</p>
								<a class="readmore" href="https://magazine.spafac.com/2018/09/15/2025年万博誘致プロジェクト！「spacefactoryxcampfire-コラボ企画/">続きを読む</a>
							</div>
					</li>
					<li>
						<a href="http://spafac.sa-m.net/wp/news/18070501/">
							<div class="img">
								<img src="/app/assets/images/developimage/40314845_1800627200023118_7052892386627682304_n-300x200-300x200.jpg" alt="">
							</div>
						</a>
						<div class="text">
							<span class="date">2018.10.01</span>
							<p class="bold">臭い匂いをごっそり落とす消臭スプレー</p>
							<p>Rinennaはそんなアイディアから生まれました。ホッと一息つける時間に変えた…</p>
							<a class="readmore" href="https://magazine.spafac.com/2018/08/29/臭い匂いをごっそり落とす消臭スプレー＃３%E3%80%80rinenna3/">続きを読む</a>
						</div>
					</li>
				</ul>	
			</div>
	<div class="wrap txtR">
		<a class="archive_link" href="http://spafac.sa-m.net/wp/news/">News一覧を見る »</a>
	</div>
</section>