<section class="gray" id="welcome">
	<div class="welcome_title">
		<h2>関西エリアを地域密着でサポートいたします。<br>
様々なスペースで「ワクワク」「ドキドキ」を体験　個人様でも法人様でもご利用できる<br>
空間・スペースの登録・検索・予約サイトへようこそ</h2>
		<p>スペースを貸す方、借りる方をワンストップ + αの付加価値をつけてお繋ぎ致します。<br>業界でもお得な手数料と豊富なスペースラインナップでフルサポート致します。</p>
	</div>
	<div class="welcome_figure_1">
		<div class="figure_box">
			<h3>目的にあった<br>スペースが見つかる</h3>
			<p>誰でも一日からお店がもてたり、短時間から駐車場のスペースとして借りれたり、会議室での会議やイベントスペースでの催事や販売など。<br>その軒先や各スペースオーナーさんとのコラボレーションもできます。<br>思いついたら今すぐ初めてみよう。</p>
		</div>
		<div class="figure_arrow"><img src="http://spafac.sa-m.net/assets/mypage/img/icon-11.png" alt=""></div>
		<div class="figure_box">
			<h3>空きスペースを<br>有効活用</h3>
			<p>ほんの一坪の土地や店先など、カフェのインテリアに絵画スペース、<br>大小問わずに余っているオーナー様のスペースを貸し出してみませんか？<br>あなたのスペースが未来を見据える夢のステップに。提供の仕方が分からない時は今すぐお問い合わせください！スタッフ一同全力でサポートいたします！</p>
		</div>
	</div>
	<div class="welcome_title">
		<h2>ビジネスの3つの特徴</h2>
	</div>
	<div class="welcome_figure_2">
        <div class="pac">
            <div class="figure_box_2">
                <span class="icon"><img src="http://spafac.sa-m.net/assets/mypage/img/icon-12.png" alt=""></span>
                <h4>いつでも誰でも<br>カンタン登録</h4>
                <p>パソコンやスマホで利用できるクラウド型サービス。思いついたらすぐに登録してみよう。登録料・掲載料はもちろん無料です。スペースのレンタスが始まるまで費用はかかりません。<br><br>弊社手数料は業界水準を下回る良心的なプランでお届け致します。</p>
            </div>
            <div class="figure_box_2">
                <span class="icon"><img src="http://spafac.sa-m.net/assets/mypage/img/icon-13.png" alt=""></span>
                <h4>関西地域密着型でコアな<br>スペースまで検索可能です</h4>
                <p>関西地域に密着した理由は私たちスタッフが数十年培ったスタッフの経験値を最高のパフォーマンスで提供したいという希望。<br><br>不動産業界・飲食業界・物販担当者から様々な情報産業の経験等を活かしスタッフ全員でフルサポートいたします。<br>もちろんその他地域もお問い合わせください。</p>
            </div>
            <div class="figure_box_2">
                <span class="icon"><img src="http://spafac.sa-m.net/assets/mypage/img/icon-14.png" alt=""></span>
                <h4>契約金等初期費用は不要。<br>スペース使用料のみでコスト削減</h4>
                <p>何かにチャレンジする際にスペースの契約として敷金・礼金など契約金がかかるとどうしても初期費用がかかるもの。<br><br>意外とあれこれ費用はかかるものです。場所を借りる契約金は単価も高く悩みがちになるものです。　当サイトでは１時間から１日から借りれる様、コスト削減を実現いたしました。</p>
            </div>
        </div>    
	</div>
</section>