<section class="white" id="flow">
	<h2 class="flow_title" data-select-like-a-boss="1">ご利用までの流れ</h2>
	<div class="flow">
		<div class="flow_box">
			<img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/top_session/icon-15.png" alt=""><span>会員登録</span>
			<p>お持ちのパソコンやスマートフォンで無料会員登録からフォームに入力し送信するだけ。会員登録後本人確認資料とその他用途に合わせ出店に必要な書類を提出。審査承認後ご予約が可能となります。<br>会員様限定のプレミアム特典もご利用頂けます。</p>
		</div>
		<div class="flow_arrow"><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/top_session/icon-19.png" alt=""></div>
		<div class="flow_box">
			<img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/top_session/icon-17.png" alt=""><span>予約</span>
			<p>会員登録後、予約が可能となります。借りたいスペースを選んでカレンダー機能より日時を登録してスペースの利用申請を行います。</p>
		</div>
		<div class="flow_arrow"><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/top_session/icon-19.png" alt=""></div>
		<div class="flow_box">
			<img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/top_session/icon-18.png" alt=""><span>支払</span>
			<p>スペースオーナー様からスペース利用承認を頂きクレジットまたは銀行振込にて決済。ご希望日よりご利用いただけます。</p>
		</div>
		<div class="flow_arrow"><img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/top_session/icon-19.png" alt=""></div>
		<div class="flow_box">
			<img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/top_session/icon-16.png" alt=""><span>当日</span>
			<p>さぁ　あなたの夢の始まりです。おもいっきり活用してみてください。</p>
		</div>
	</div>
</section>