<section class="gray pattern_1" id="staff">
	<div class="pattern_title">
		<h2>スタッフのイチオシスペース</h2>
	</div>
	<div class="pattern_box">
    <div class="pac">
		<div class="col-xs-4 staff-box">
				<div class="staff-linkbox">
					<div class="staff-top-area unit-st">
						<img src="/system/developimage/recommend2.png" alt="">
						<h3 class="staff-title" style="background-color: #fa8b9f;">
						<span class="star">★★★★☆</span><br />
						<span>白を基調としたスタイリッシュでオシャレな空間は物件の室内に大きなキッチンは使い勝手も便利でお料理教室や、お菓子などのワークシ…</span>
						</h3>
					</div>
				</div>
		</div>
		<div class="col-xs-4 staff-box">
				<div class="staff-linkbox">
					<div class="staff-top-area unit-st">
						<img src="/system/developimage/recommend1.png" alt="">
						<h3 class="staff-title" style="background-color: #fa8b9f;">
						<span class="star">★★★★☆</span><br />
						<span>結婚式場のテラスを使って女子会を行いました。オシャレなアンティーク調の雰囲気の中で友人のサプライズ誕生日を行い、本人もとって…</span>
						</h3>
					</div>
				</div>
		</div>
		<div class="col-xs-4 staff-box">
				<div class="staff-linkbox">
					<div class="staff-top-area unit-st">
						<img src="/system/developimage/recommennd3.png" alt="">
						<h3 class="staff-title" style="background-color: #fa8b9f;">
						<span class="star">★★★★★</span><br />
						<span>結婚式場のチャペルで大切な人からサプライズでプロポーズされました。ほんの少しの時間でこんな大きな幸せを一生の宝物にしたいと思…</span>
						</h3>
					</div>
				</div>
		</div>
<div class="staff-linkbox">
	<a class="detail" href="/recommendation">スタッフのイチオシスペース »</a>
</div>
</section>