<section class="gray pattern_1" id="campaign">
	<div class="pattern_title">
		<h2>開催中のキャンペーン</h2>
	</div>
	<div class="pattern_box">
    <div class="pac">
		<div class="col-xs-4 staff-box">
				<div class="staff-linkbox">
					<div class="staff-top-area unit-st">
						<img src="/app/assets/images/developimage/work-731198_1920.jpg" alt="">
						<h3 class="staff-title" style="background-color: #fa8b9f;">
						<span>12月末までのスペース登録弊社代行無料キャンペーン実施中！スペースを借りる方必見！スペースレンタル成約時の手数料が12月末まで無料！</span>
						</h3>
					</div>
				</div>
		</div>
		<div class="col-xs-4 staff-box">
				<div class="staff-linkbox">
					<div class="staff-top-area unit-st">
						<img src="http://spafac.sa-m.net/assets/mypage/img/photo-12.png" alt="">
						<h3 class="staff-title" style="background-color: #fa8b9f;">
						<span>Campfire×SPACE FACTORY 大阪心斎橋近くの多目的ルームをいち早くお届け！ただいまキャンペーン中につきレンタル料金期間限定大幅割引！</span>
						</h3>
					</div>
				</div>
		</div>
		<div class="col-xs-4 staff-box">
				<div class="staff-linkbox">
					<div class="staff-top-area unit-st">
						<img src="http://spafac.sa-m.net/assets/mypage/img/photo-13.png" alt="">
						<h3 class="staff-title" style="background-color: #fa8b9f;">
						<span>スペースをお持ちの方。只今利用用途の拡大中につきご紹介キャンペーン実施中！スペースをお持ちの方をご紹介のご紹介で素敵な特典をゲット！</span>
						</h3>
					</div>
				</div>
		</div>
	</div>
	</div>
	<a class="detail" href="#">その他のキャンペーンをもっと見る »</a>
</section>