<section class="gray pattern_1" id="campaign">
	<div class="pattern_title">
		<h2>開催中のキャンペーン</h2>
	</div>
	<div class="pattern_box">
    <div class="pac">
    	<div class="pattern_boxs">
			<div class="pics"><img src="/app/assets/images/developimage/work-731198_1920.jpg" alt=""></div>
			<p>12月末までのスペース登録弊社代行無料キャンペーン実施中！スペースを借りる方必見！スペースレンタル成約時の手数料が12月末まで無料！</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-12.png" alt=""></div>
			<p>予約後すぐにわかりやすい説明も届き便利な場所で必要なものも揃っていてよかったです。部屋もキレイに清掃されてました。 床がオフィス</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-13.png" alt=""></div>
			<p>予約後すぐにわかりやすい説明も届き便利な場所で必要なものも揃っていてよかったです。部屋もキレイに清掃されてました。 床がオフィス</p>
		</div>
	</div>
	</div>
	<a class="detail" href="/campaign">その他のキャンペーンをもっと見る »</a>
</section>