<section class="white pattern_1">
	<div class="pattern_title">
		<h2>物販</h2>
	</div>
	<div class="pattern_box">
    <div class="pac">
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-44.png" alt=""></div><span class="star">★★★★★</span>
			<p>設備が整ったスペースで使い勝手が良かったです！またどうぞよろしくお願いします！大変使いやすく設備も充実していました。来月もまた予</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-29.png" alt=""></div><span class="star">★★★★★</span>
			<p>数回使用させていただいております。駅からも近く、スペースは日当たりもよく、広いです。予約時もわからないことは丁寧に対応いただきま</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-42.png" alt=""></div><span class="star">★★★★★</span>
			<p>会場はとても綺麗で気持ちよく利用する事が出来ました。プロジェクターや机の位置なども予めセットしてくださり助かりました。ありがとう</p>
		</div>
	</div>
	</div>
	<a class="detail" href="#">物販で利用できるスペースをもっと見る »</a>
</section>