<section class="white pattern_1">
	<div class="pattern_title">
		<h2>物販</h2>
	</div>
	<div class="pattern_box">
    <div class="pac">
		<div class="col-xs-4 staff-box">
				<div class="staff-linkbox">
					<div class="staff-top-area unit-st">
						<img src="http://spafac.sa-m.net/assets/mypage/img/photo-44.png" alt="">
						<h3 class="staff-title" style="background-color: #4abfe6;">
						<span class="star">★★★★★</span><br/>
						<span>設備が整ったスペースで使い勝手が良かったです！またどうぞよろしくお願いします！大変使いやすく設備も充実していました。来月もまた予</span>
						</h3>
					</div>
				</div>
		</div>
		<div class="col-xs-4 staff-box">
				<div class="staff-linkbox">
					<div class="staff-top-area unit-st">
						<img src="http://spafac.sa-m.net/assets/mypage/img/photo-29.png" alt="">
						<h3 class="staff-title" style="background-color: #4abfe6;">
						<span class="star">★★★★★</span><br/>
						<span>数回使用させていただいております。駅からも近く、スペースは日当たりもよく、広いです。予約時もわからないことは丁寧に対応いただきま</span>
						</h3>
					</div>
				</div>
		</div>
		<div class="col-xs-4 staff-box">
				<div class="staff-linkbox">
					<div class="staff-top-area unit-st">
						<img src="http://spafac.sa-m.net/assets/mypage/img/photo-42.png" alt="">
						<h3 class="staff-title" style="background-color: #4abfe6;">
						<span class="star">★★★★★</span><br/>
						<span>会場はとても綺麗で気持ちよく利用する事が出来ました。プロジェクターや机の位置なども予めセットしてくださり助かりました。ありがとう</span>
						</h3>
					</div>
				</div>
		</div>
	</div>
	</div>
	<a class="detail" href="#">物販で利用できるスペースをもっと見る »</a>
</section>