<section class="gray pattern_1" id="party">
	<div class="pattern_title">
		<h2>飲食・パーティ</h2>
	</div>
	<div class="pattern_box">
    <div class="pac">
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-14.png" alt=""></div><span class="star">★★★★★</span>
			<p>予約後すぐにわかりやすい説明も届き便利な場所で必要なものも揃っていてよかったです。部屋もキレイに清掃されてました。 床がオフィス</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-22.png" alt=""></div><span class="star">★★★★★</span>
			<p>予約後すぐにわかりやすい説明も届き便利な場所で必要なものも揃っていてよかったです。部屋もキレイに清掃されてました。 床がオフィス</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-17.png" alt=""></div><span class="star">★★★★★</span>
			<p>予約後すぐにわかりやすい説明も届き便利な場所で必要なものも揃っていてよかったです。部屋もキレイに清掃されてました。 床がオフィス</p>
		</div>
	</div>
	</div>
	<a class="detail" href="#">飲食・パーティで利用できるスペースをもっと見る »</a>
</section>