<section class="gray pattern_1" id="party">
	<div class="pattern_title">
		<h2>飲食・パーティ</h2>
	</div>
	<div class="pattern_box">
    <div class="pac">
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-14.png" alt=""></div><span class="star">★★★★★</span>
			<p>今回も女子会で使用させていただきました。 部屋がハロウィン使用になっていてとっても可愛かったです。 またみんなで使わせていただき</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-22.png" alt=""></div><span class="star">★★★★★</span>
			<p>直前の利用時間の変更など、臨機応変にご対応頂き、助かりました。駅からも近く、近隣で買い物もコンビニが近くにあり便利でした。また</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-17.png" alt=""></div><span class="star">★★★★★</span>
			<p>9人で女子会をしました。調理器具など必要なものが充実していました。部屋も綺麗でとてもよかったです。質問の対応も早くとても丁寧に対</p>
		</div>
	</div>
	</div>
	<a class="detail" href="#">飲食・パーティで利用できるスペースをもっと見る »</a>
</section>