<section class="white pattern_1" id="conference">
	<div class="pattern_title">
		<h2>オフィス・会議</h2>
	</div>
	<div class="pattern_box">
    <div class="pac">
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-27.png" alt=""></div><span class="star">★★★★★</span>
			<p>5名で会議を行いました。延長コードやプロジェクターなど備品も充実しています。問い合わせにもスピディーに対応いただきました。また利</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-10.png" alt=""></div><span class="star">★★★★★</span>
			<p>今回地方からのクライアントをお招きしての会議で利用しました。プロジェクターやホワイトボードも完備されまた利用したいと思いました。</p>
		</div>
		<div class="pattern_boxs">
			<div class="pics"><img src="http://spafac.sa-m.net/assets/mypage/img/photo-91.png" alt=""></div><span class="star">★★★★★</span>
			<p>大学のレーポートで友人を集め勉強会を開くのに使わせて頂きました。駅から近くな部屋で参加者がみな迷わずに来ることができました。また</p>
		</div>
	</div>
	</div>
	<a class="detail" href="/purpose/office">オフィス・会議で利用できるスペースをもっと見る »</a>
</section>