<section class="gray pattern_1" id="parking">
	<div class="pattern_title">
		<h2>サンプル</h2>
	</div>
	<div class="pattern_box">
    <div class="pac">
		<div class="col-xs-4">
			<a href="#" class="a__top-units">
			<div class="md-top-units mdc-elevation--z2">
				<div class="md-top-units__image">
					<div class="top-units-ranking units-ranking__no1 units-ranking units-ranking__icon">
						<div class="units-ranking__icon-body">
							<span class="units-ranking__icon-number">1</span>
						</div>
					</div>
						<img src="https://cdnspacemarket.com/uploads/attachments/315842/image.jpg?fit=crop&amp;width=490&amp;height=490&amp;bg-color=9c9c9c" alt="全国1位獲得 ✨900円～【渋谷 徒歩4分】大人の隠れ家/～7名/ごろごろ/Netflix/24h可/ホムパ の写真" class="md-top-units__image-pict">
						<p class="md-top-units__item-price">￥1,200<span class="md-top-units__item-per">〜</span>￥6,000<span class="md-top-units__item-per">/時間</span>
						<span class="md-top-units__price-icon">
							<i class="fa fa-bolt md-top-units__item-instant"></i>
							<span class="icon-spm-top_host md-top-units__item-top-host"></span>
							<i class="icon-spm-discount md-top-units__item-icon-discount"></i>
						</span>
						</p>
				</div>
					<div class="md-top-units__body">
						<div class="md-top-units__body-inner">
							<h3 class="md-top-units__body-title">全国1位獲得 ✨900円～【渋谷 徒歩4分】大人の隠れ家/～7名/ごろごろ/Netflix/24h可/ホムパ</h3>
						</div>
						<ul class="md-top-units__body-info">
							<li><i class="fa fa-user mr5"></i>7人</li>
							<li><i class="fa fa-map-marker mr5"></i>東京都渋谷区</li>
						</ul>
					</div>
			</div>
			</a>
		</div>
		<div class="col-xs-4">
			<a href="#" class="a__top-units">
			<div class="md-top-units mdc-elevation--z2">
				<div class="md-top-units__image">
					<div class="top-units-ranking units-ranking__no1 units-ranking units-ranking__icon">
						<div class="units-ranking__icon-body">
							<span class="units-ranking__icon-number">2</span>
						</div>
					</div>
						<img src="https://cdnspacemarket.com/uploads/attachments/315842/image.jpg?fit=crop&amp;width=490&amp;height=490&amp;bg-color=9c9c9c" alt="全国1位獲得 ✨900円～【渋谷 徒歩4分】大人の隠れ家/～7名/ごろごろ/Netflix/24h可/ホムパ の写真" class="md-top-units__image-pict">
						<p class="md-top-units__item-price">￥1,200<span class="md-top-units__item-per">〜</span>￥6,000<span class="md-top-units__item-per">/時間</span>
						<span class="md-top-units__price-icon">
							<i class="fa fa-bolt md-top-units__item-instant"></i>
							<span class="icon-spm-top_host md-top-units__item-top-host"></span>
							<i class="icon-spm-discount md-top-units__item-icon-discount"></i>
						</span>
						</p>
				</div>
					<div class="md-top-units__body">
						<div class="md-top-units__body-inner">
							<h3 class="md-top-units__body-title">全国1位獲得 ✨900円～【渋谷 徒歩4分】大人の隠れ家/～7名/ごろごろ/Netflix/24h可/ホムパ</h3>
						</div>
						<ul class="md-top-units__body-info">
							<li><i class="fa fa-user mr5"></i>7人</li>
							<li><i class="fa fa-map-marker mr5"></i>東京都渋谷区</li>
						</ul>
					</div>
			</div>
			</a>
		</div>
		<div class="col-xs-4">
			<a href="#" class="a__top-units">
			<div class="md-top-units mdc-elevation--z2">
				<div class="md-top-units__image">
					<div class="top-units-ranking units-ranking__no1 units-ranking units-ranking__icon">
						<div class="units-ranking__icon-body">
							<span class="units-ranking__icon-number">3</span>
						</div>
					</div>
						<img src="https://cdnspacemarket.com/uploads/attachments/315842/image.jpg?fit=crop&amp;width=490&amp;height=490&amp;bg-color=9c9c9c" alt="全国1位獲得 ✨900円～【渋谷 徒歩4分】大人の隠れ家/～7名/ごろごろ/Netflix/24h可/ホムパ の写真" class="md-top-units__image-pict">
						<p class="md-top-units__item-price">￥1,200<span class="md-top-units__item-per">〜</span>￥6,000<span class="md-top-units__item-per">/時間</span>
						<span class="md-top-units__price-icon">
							<i class="fa fa-bolt md-top-units__item-instant"></i>
							<span class="icon-spm-top_host md-top-units__item-top-host"></span>
							<i class="icon-spm-discount md-top-units__item-icon-discount"></i>
						</span>
						</p>
				</div>
					<div class="md-top-units__body">
						<div class="md-top-units__body-inner">
							<h3 class="md-top-units__body-title">全国1位獲得 ✨900円～【渋谷 徒歩4分】大人の隠れ家/～7名/ごろごろ/Netflix/24h可/ホムパ</h3>
						</div>
						<ul class="md-top-units__body-info">
							<li><i class="fa fa-user mr5"></i>7人</li>
							<li><i class="fa fa-map-marker mr5"></i>東京都渋谷区</li>
						</ul>
					</div>
			</div>
			</a>
		</div>
	</div>
	</div>
</section>