<section class="party_page">
	<div class="party_page_mv">
        <div class="party_page_mv_box">
            <h1>パーティースペース</h1>
        </div>
    </div>
</section>

= render partial: 'mid_nav/midnav'

<section class="party_page">
    <div class="three_list party_lank">
        <h2>パーティスペースランキングTop3</h2>
		<div class="col-xs-4">
			<a href="#" class="a__top-box">
			<div class="sp-top-rakinbox sp-topbox-area">
				<div class="sp-top-rakinbox__image">
					<div class="top-sp-ranking sp-ranking_no1 sp-ranking sp-ranking__icon">
						<div class="sp-ranking__icon-body">
							<span class="sp-ranking__icon-number">1</span>
						</div>
					</div>
						<img src="https://cdnspacemarket.com/uploads/attachments/315842/image.jpg?fit=crop&amp;width=490&amp;height=490&amp;bg-color=9c9c9c" alt="全国1位獲得 ✨900円～【渋谷 徒歩4分】大人の隠れ家/～7名/ごろごろ/Netflix/24h可/ホムパ の写真" class="sp-top-ranking__image-pict">
						<p class="sp-top-ranking__item-price">￥1,200<span class="sp-top-ranking__item-different">〜</span>￥6,000<span class="sp-top-ranking__item-different">/時間</span>
						<span class="sp-top-ranking__price-icon">
							<i class="fa fa-bolt sp-top-ranking__item-instant"></i>
							<span class="icon-spm-top_host sp-top-ranking__item-top-host"></span>
							<i class="icon-spm-discount sp-top-ranking__item-icon-discount"></i>
						</span>
						</p>
				</div>
					<div class="sp-top-ranking__body">
						<div class="sp-top-ranking__body-inner">
							<h3 class="sp-top-ranking__body-title">全国1位獲得 ✨900円～【渋谷 徒歩4分】大人の隠れ家/～7名/ごろごろ/Netflix/24h可/ホムパ</h3>
						</div>
						<ul class="sp-top-ranking__body-info">
							<li><i class="fa fa-user mr5"></i>7人</li>
							<li><i class="fa fa-map-marker mr5"></i>東京都渋谷区</li>
						</ul>
					</div>
			</div>
			</a>
		</div>
		<div class="col-xs-4">
			<a href="#" class="a__top-box">
			<div class="sp-top-rakinbox sp-topbox-area">
				<div class="sp-top-rakinbox__image">
					<div class="top-units-ranking sp-ranking_no2 sp-ranking sp-ranking__icon">
						<div class="sp-ranking__icon-body">
							<span class="sp-ranking__icon-number">1</span>
						</div>
					</div>
						<img src="https://cdnspacemarket.com/uploads/attachments/315842/image.jpg?fit=crop&amp;width=490&amp;height=490&amp;bg-color=9c9c9c" alt="全国1位獲得 ✨900円～【渋谷 徒歩4分】大人の隠れ家/～7名/ごろごろ/Netflix/24h可/ホムパ の写真" class="sp-top-ranking__image-pict">
						<p class="sp-top-ranking__item-price">￥1,200<span class="sp-top-ranking__item-different">〜</span>￥6,000<span class="sp-top-ranking__item-different">/時間</span>
						<span class="sp-top-ranking__price-icon">
							<i class="fa fa-bolt sp-top-ranking__item-instant"></i>
							<span class="icon-spm-top_host sp-top-ranking__item-top-host"></span>
							<i class="icon-spm-discount sp-top-ranking__item-icon-discount"></i>
						</span>
						</p>
				</div>
					<div class="sp-top-ranking__body">
						<div class="sp-top-ranking__body-inner">
							<h3 class="sp-top-ranking__body-title">全国1位獲得 ✨900円～【渋谷 徒歩4分】大人の隠れ家/～7名/ごろごろ/Netflix/24h可/ホムパ</h3>
						</div>
						<ul class="sp-top-ranking__body-info">
							<li><i class="fa fa-user mr5"></i>7人</li>
							<li><i class="fa fa-map-marker mr5"></i>東京都渋谷区</li>
						</ul>
					</div>
			</div>
			</a>
		</div>
		<div class="col-xs-4">
			<a href="#" class="a__top-box">
			<div class="sp-top-rakinbox sp-topbox-area">
				<div class="sp-top-rakinbox__image">
					<div class="top-units-ranking sp-ranking_no3 sp-ranking sp-ranking__icon">
						<div class="sp-ranking__icon-body">
							<span class="sp-ranking__icon-number">1</span>
						</div>
					</div>
						<img src="https://cdnspacemarket.com/uploads/attachments/315842/image.jpg?fit=crop&amp;width=490&amp;height=490&amp;bg-color=9c9c9c" alt="全国1位獲得 ✨900円～【渋谷 徒歩4分】大人の隠れ家/～7名/ごろごろ/Netflix/24h可/ホムパ の写真" class="sp-top-ranking__image-pict">
						<p class="sp-top-ranking__item-price">￥1,200<span class="sp-top-ranking__item-different">〜</span>￥6,000<span class="sp-top-ranking__item-different">/時間</span>
						<span class="sp-top-ranking__price-icon">
							<i class="fa fa-bolt sp-top-ranking__item-instant"></i>
							<span class="icon-spm-top_host sp-top-ranking__item-top-host"></span>
							<i class="icon-spm-discount sp-top-ranking__item-icon-discount"></i>
						</span>
						</p>
				</div>
					<div class="sp-top-ranking__body">
						<div class="sp-top-ranking__body-inner">
							<h3 class="sp-top-ranking__body-title">全国1位獲得 ✨900円～【渋谷 徒歩4分】大人の隠れ家/～7名/ごろごろ/Netflix/24h可/ホムパ</h3>
						</div>
						<ul class="sp-top-ranking__body-info">
							<li><i class="fa fa-user mr5"></i>7人</li>
							<li><i class="fa fa-map-marker mr5"></i>東京都渋谷区</li>
						</ul>
					</div>
			</div>
			</a>
		</div>
        <p class="more_lank"><a href="/search">ランキングをもっと見る</a></p>
        </div>
        <div class="three_list new_review">
            <h2>新着レビュー</h2>
            <ul>
                <li>
                    <img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/party_icon01.png" alt="review">
                    <h3>ここにニックネーム</h3>
                        <div class="readme">
                        <p>【直前20％OFF】☆MOLE五反田☆駅徒歩2分のキッチン付きスペース#タコパ#テレビ#うちスタ#たこ焼き</p>
                        </div>
                        <p class="date">登校日 2018/07/04</p>
                        <p>10名程で会社の同僚のフェアウェルパーティーをしました。 非常に満足しています。ありがとうございました。 ・全体的に掃除が行き届いてきれいでした ・調理道具類も充実していました ・ゴミ　・・・</p>
                </li>
                <li>
                    <img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/party_icon01.png" alt="review">
                    <h3>ここにニックネーム</h3>
                        <div class="readme">
                        <p>【直前20％OFF】☆MOLE五反田☆駅徒歩2分のキッチン付きスペース#タコパ#テレビ#うちスタ#たこ焼き</p>
                        </div>
                        <p class="date">登校日 2018/07/04</p>
                        <p>10名程で会社の同僚のフェアウェルパーティーをしました。 非常に満足しています。ありがとうございました。 ・全体的に掃除が行き届いてきれいでした ・調理道具類も充実していました ・ゴミ　・・・</p>
                </li>
                <li>
                    <img src="https://s3-ap-northeast-1.amazonaws.com/spafac-storage/system/party/party_icon01.png" alt="review">
                    <h3>ここにニックネーム</h3>
                        <div class="readme">
                        <p>【直前20％OFF】☆MOLE五反田☆駅徒歩2分のキッチン付きスペース#タコパ#テレビ#うちスタ#たこ焼き</p>
                        </div>
                        <p class="date">登校日 2018/07/04</p>
                        <p>10名程で会社の同僚のフェアウェルパーティーをしました。 非常に満足しています。ありがとうございました。 ・全体的に掃除が行き届いてきれいでした ・調理道具類も充実していました ・ゴミ　・・・</p>
                </li>
            </ul>
            <p class="more_lank"><a href="/search">新着レビューをもっと読む</a></p>
        </div>
    
        <div class="three_list summary">
            <h2>関連するまとめ</h2>
            <ul>
                <li>
                    <div class="pic"></div>
                    <p>【緊急応援企画】日本代表のベルギー・・・</p>
                </li>
                <li>
                    <div class="pic"></div>
                    <p>【緊急応援企画】日本代表のベルギー・・・</p>
                </li>
                <li>
                    <div class="pic"></div>
                    <p>【緊急応援企画】日本代表のベルギー・・・</p>
                </li>
            </ul>
            <p class="more_lank"><a href="/search">関連するまとめをもっと見る</a></p>
        </div>
    </div>
</section>

= render partial: 'area_notice/areanotice'
= render partial: 'area_kansai/areakansai'

<section class="party_page">
    <div class="three_list party_lank">
        <div class="party_search_list">
            <h2>収容人数から探す</h2>
            <div class="wrap party_abt">
            <p>
                <a href="/search">1人〜</a>
                <a href="/search">〜5人</a>
                <a href="/search">〜10人</a>
                <a href="/search">〜20人</a>
                <a href="/search">〜30人</a>
                <a href="/search">〜40人</a>
                <a href="/search">〜50人</a>
                <a href="/search">〜100人</a>
                <a href="/search">〜200人</a>
                <a href="/search">〜300人</a>
                <a href="/search">〜400人</a>
                <a href="/search">〜500人</a>
                <a href="/search">〜1000人</a>
                <a href="/search">〜10000人</a></p>
            </div>
        </div>
        <div class="party_search_list bgcg">
            <h2>キーワードから探す</h2>
            <div class="wrap party_abt">
            <p>
                <a href="/search">イベント</a>
                <a href="/search">結婚式場</a>
                <a href="/search">オフィス</a>
                <a href="/search">ホール</a>
                <a href="/search">貸会議室</a>
                <a href="/search">スタジオ</a>
                <a href="/search">カフェ</a>
                <a href="/search">レストラン</a>
                <a href="/search">映画館</a>
                <a href="/search">ギャラリー</a>
                <a href="/search">バー</a>
                <a href="/search">スポーツ施設</a>
                <a href="/search">娯楽施設</a>
                <a href="/search">ホテル</a>
                <a href="/search">住宅</a>
                <a href="/search">倉庫</a>
                <a href="/search">ワイナリー</a>
                <a href="/search">蔵</a>
                <a href="/search">百貨店</a>
                <a href="/search">オフィス街</a>
                <a href="/search">商店街</a>
                <a href="/search">アーケード</a>
                <a href="/search">ロードサイド</a>
                <a href="/search">駅近</a>
                <a href="/search">ロータリー</a>
                <a href="/search">軒先</a>
                <a href="/search">駅地下</a>
            </p> 
            </div>
        </div>
    </div>
</section>